[2014-04-05 17:40] mfrost503 opened #5 "Build failing on travis"
There seems to be some sort of issue with use of Mockery in the build, the tests were passing prior to the last commit. I'm going to dig around a little bit and see if I can't get the travis build to pass. I'm using this as an example in my book, I'd just feel better about doing so if I could see the tests pass. Cheers!

[2014-08-07 19:12] schnubor opened #8 "user-agent"
is there a way to set a user-agent in the requests?

[2015-01-22 03:38] stevenmaguire opened #14 "Create generic Server for access to basic signing processes"
I have another project that currently includes the following method:

[code]

The `OAuthRequest` class and the implementations within the `buildToken` & `buildConsumer` & `getSignature` methods come from a basic OAuth toolkit.

The toolkit is outdated, poorly designed, and not tested; it is effective. I would prefer to use a modern package like `thephpleague/oauth1-client` to complete the task des

[2015-01-22 04:01] bencorlett commented on #14
So what you're talking about effectively is a generic way to interact with OAuth 1 providers?

If that's the case, I would strongly recommend using `guzzle/guzzle` with the `guzzle/oauth-subscriber` plugin/addon/subscriber. I use this myself in apps for making requests against Twitter, and use the OAuth 1 client for the logic of logging in. We @philsturgeon, @alexbilbie and I, when discussing the

[2015-01-22 23:17] stevenmaguire commented on #14
Yeah. Guzzle is a good idea. I will take a look at that as a course of research into the project inspiring the question.

[2015-01-26 23:14] stevenmaguire commented on #8
bump for @schnubor

[2015-02-24 15:56] shadowhand commented on #5
It seems like this issue can be closed.

[2015-02-24 15:57] #5 closed

[2015-02-24 15:59] shadowhand commented on #8
Looks like this was fixed by #13.

[2015-02-24 16:01] shadowhand commented on #14
@bencorlett could you provide an example of how this works?

[2015-02-24 16:02] philsturgeon commented on #8
Perfect! Thanks for helping us prune this @shadowhand.

[2015-02-24 16:02] #8 closed

[2015-03-02 21:46] shadowhand commented on #14
I think #18 will go a long way towards resolving this. With that patch applied, I was able to create a trait with this method:

[code]

I greatly prefer this to having to use the `oauth-subscriber` plugin, as it duplicates much of what `oauth1-client` already does.

[2015-03-05 00:50] stevenmaguire commented on #14
The project that inspired the original post is now using Guzzle and the OAuth1 Subscriber plugin.

For the record, I like the PR @shadowhand is proposing. Since there is a request open, I will close this issue.

[2015-03-05 00:50] #14 closed

[2015-03-16 23:08] assertchris opened #19 "[Proposal] Add UserVoice Server"
Hi friends,

I recently created a UserVoice Server class, and was wondering if you'd like me to push it upstream?

[2015-03-17 20:52] stevenmaguire commented on #19
Submit a PR and let's take a look!

[2015-03-17 21:33] bencorlett commented on #19
Absolutely :)

Sent from my iPhone

Please excuse my brevity

[2015-03-17 21:37] assertchris commented on #19
You got it!

[2015-03-21 22:12] EliasZ opened #20 "[Proposal] Allow to send arbitrary requests"
As Laravel is using this package underneath Socialite, I thought I might as well keep using it for interacting with an OAuth server (that of Twitter, but more are on the roadmap) after authenticating. So what I did is the following:

- I am using Laravel 5 its default implementation of Socialite
- After authenticating, I save the `User` its `token` and `tokenSecret` (Twitter is OAuth 1)
- Because

[2015-03-21 23:39] stevenmaguire commented on #20
@EliasZ I would recommend locating a separate library to use when communicating with Twitters API for non-authenticating tasks. While this package does include some basic user account access, you should consider limiting its responsibility to handling the authentication tasks and providing you with the resulting access tokens that will be required for a proper Twitter API client.

[2015-03-21 23:40] stevenmaguire commented on #19
@assertchris Can we close this issue?

[2015-03-21 23:57] assertchris commented on #19
I guess so. Was planning to do so after I'd submitted the PR...

On Sunday, 22 March 2015, Steven Maguire <notifications@github.com> wrote:

[2015-03-22 09:32] EliasZ commented on #20
@stevenmaguire Thanks for your help.

For something which is called an oauth1-client I would have expected a bit more functionality, especially sending arbitrary requests? _If I knew a bit more about oauth_, I would have done it myself by simply extracting the authorization and header logic required from the abstract `Server` its `fetchUserDetails` method. If the building of a Guzzle client with t

[2015-03-22 09:45] bencorlett commented on #20
This package never was intended to be, and never will be, an API package for every conceivable OAuth provider.

This package is designed for authentication and retrieval of tokens. Do with the tokens what you will, be it store them, use them against an API or you could build a collage of tokens to use as your wallpaper. Point is, this package fills a specific need by design.

For what it's worth,

[2015-03-22 10:15] EliasZ commented on #20
I am not saying this package should feature a full-fledged SDK for every provider, just to make it possible to send arbitrary requests. So other packages can use this client as a base and extend it for platform-specific functionality.

It currently allows to step through the oauth1 authorization process and send a few provider-based hard-coded resource-requests (one of them is fetching user data,

[2015-03-24 19:08] #19 closed

[2015-03-24 19:51] stevenmaguire commented on #19
Yay @assertchris!

[2015-04-12 09:56] xjchengo opened #23 "[Proposal] multi language support"
The exception is english now. Please take multi language support into account.

[2015-04-12 10:05] #23 closed

[2015-04-12 10:36] bencorlett commented on #23
An exception? There's no user facing messages that I can't recall in this package at all. Catch exceptions and handle lingual support in your app.

Sent from my iPhone

Please excuse my brevity

[2015-05-11 10:01] jenssegers opened #24 "Multidimensional arrays"
When sending multidimensional array data through the client, you will get this error:

    rawurlencode() expects parameter 1 to be string, array given

Is this a bug, or is this spec related?

[2015-05-11 10:04] bencorlett commented on #24
Can you please provide more information?

[2015-05-11 10:07] jenssegers commented on #24
Sorry, I was talking about the signature generation: https://github.com/thephpleague/oauth1-client/blob/master/src/Client/Signature/HmacSha1Signature.php#L66

For example; if you send something like this:

[code]

It will try to run `rawurlencode` on the data array.

[2015-05-11 10:12] jenssegers commented on #24
You can replicate this with this adjusted unit test:

    public function testSigningRequest()
    {
        $signature = new HmacSha1Signature($this->getMockClientCredentials());

        $uri = 'http://www.example.com/?qux=corge';
        $parameters = array('foo' => 'bar', 'baz' => null, 'data' => ['foo' => 'bar']);

        $this->assertEquals('A3Y7C1SUHXR1EBYIUlT3d6QT1cQ=', $signature->sign($

[2015-05-11 10:35] bencorlett commented on #24
Hmm, from what I can remember the reason I did that was related to the spec.

Have you got an actual use-case for needing nesting or is it a hypothetical edge-case you’ve discovered?

[2015-05-11 10:36] jenssegers commented on #24
No this is an actual use case, but for an internal company API.

[2015-05-12 00:15] bencorlett commented on #24
I did some reading around and saw some implementations over at php.net, but nothing that I really liked.

Are you able to see if something [like this](https://github.com/drupal/drupal/blob/7.x/includes/common.inc#L468-L507) would work for you? Maybe if it does, you could integrate that code and shoot through a PR with the offending unit test passing?

[2015-05-12 10:32] jenssegers commented on #24
I tested Python's oauthlib and it turns out it has the same issue. Is this use case just not common, or is it against the oauth1 spec or something?

The fix that I used is:

[code]

[2015-05-12 10:37] jenssegers commented on #24
I just found http://oauth.googlecode.com/svn/code/javascript/example/signature.html. It seems that it takes the "data[foo]" string and encodes it similar to the drupal example I think.

[2015-05-12 10:52] bencorlett commented on #24
The spec just mentions that values need to be encoded against some RFC that rawurlencode adheres to. It's unique to Oauth 1 as Oauth 2 doesn't require we generate signatures and things, it assumes SSL or TLS is used for encryption.

Is there a chance you can change your internal API? I'm hesitant to move away incase we are not adhering to that RFC if we implement a change. The goal of this library

[2015-05-16 19:29] sitesense opened #25 "Add email to Twitter"
Since April of this year Twitter is now able to supply a user's email address, with one caveat - you need to have your app whitelisted. See the post by `andypiper` of Twitter here:

https://twittercommunity.com/t/how-to-get-email-from-twitter-user-using-oauthtokens/558/185

I got this to work by making a few minor changes to `src/Client/Server/Twitter.php` - look for `CHANGED...`

I haven't made a

[2015-05-16 21:01] bencorlett commented on #25
I like that implementation on the face of it. Can you submit a PR? I'll take a look on the computer but credit should be where credit is due!

Sent from my iPhone

Please excuse my brevity

[2015-05-16 21:09] sitesense commented on #25
Ok, thanks Ben, I'll do that.

[2015-05-18 00:06] #25 closed

[2015-05-18 00:06] bencorlett commented on #24
Please reopen the issue if you'd like to discuss further :)

[2015-05-18 00:06] #24 closed

[2015-05-18 00:08] bencorlett commented on #20
I get what you're saying. I'd need to talk to the others in the League to see what the direction of the OAuth-2 client is, as I'd like to move the packages along together. @shadowhand, thoughts?

[2015-05-18 00:54] shadowhand commented on #20
This is exactly what #18 made possible. Here's some sample code:

[code]

The rest of the code in the class is specific to our implementation of token storage, but this should be enough to illustrate how you can build a generic "middleware" for API requests.

[2015-05-18 01:02] shadowhand commented on #20
I should also say that [oauth2-client](/thephpleague/oauth2-client) has a much more advanced interface for this in v1.0:

[code]

A similar interface could be developed for oauth1-client, but it would require using a PSR-7 compatible HTTP client, which would require a major version bump, as the interfaces would be incompatible.

[2015-05-18 17:24] shadowhand opened #27 "Make the client PSR-7 compatible"
Building off of #20 and thephpleague/oauth2-client#224, I think it would be good for oauth1-client to move to a HTTP client that is PSR-7 compatible. It will allow arbitrary request/response handling and make the client easier to extend for specific provider implementations.

[Ivory](/egeloen/ivory-http-adapter) is usable now, and Guzzle 6 (next release) will be PSR-7 compatible.

This will be a _

[2015-06-24 12:22] Trismegiste opened #28 "Common interface with OAuth2-client"
Hello,

First, your two lib OAuth1 & 2 are awesome:  that's exactly what I'm looking for : simple, clear & clean (after struggling with the HWIOAuthBundle, it's a big change).

I need both library in my app (for twitter & facebook authentication) so: is there a plan to unify or at least create some common interfaces between the two lib because OAuth2\\..\AbstractProvider and OAuth1\\...\Server for

[2015-08-16 09:39] atrauzzi opened #31 "Upgrade to a current version of guzzle"
Right now this repository depends on an outdated version of guzzle.  This version will be EOL later this year and ideally should be repalced with the more current guzzlehttp.

[2015-08-22 09:52] bencorlett commented on #31
Heya @atrauzzi, yep this will be happening very shortly :) See #27.

[2015-08-22 09:52] #31 closed

[2015-08-22 09:53] bencorlett opened #34 "Version 2.0 Roadmap"
Thoughts for V2 development...

- [ ] Move to PSR-7 (Guzzle 6) #27
- [ ] Consistent API with OAuth 2 client #28
- [ ] Send arbitrary requests? #20

/cc @stevenmaguire @shadowhand

[2015-08-22 12:05] bencorlett commented on #34
Closing issue in favour of a PR instead.

[2015-08-22 20:30] atrauzzi commented on #31
:tada:

[2015-11-16 18:59] nicktacular opened #39 "Query strings with arrays cannot be properly signed"
I've encountered an issue whereby if you create a service that extends `League\OAuth1\Client\Server\Server` and use `$this->getHeaders(...)` with a query string that has array notation (i.e. `var[]=whatever`) then the URL cannot be properly signed.

Here's an example:

[code]

This generates a warning: `Warning: rawurlencode() expects parameter 1 to be string, array given in /my/proj/vendor/league

[2015-12-02 00:43] #20 closed

[2015-12-02 00:43] #28 closed

[2015-12-02 04:58] stevenmaguire opened #43 "[2.0] Move providers to separate projects"
@bencorlett Now that the develop branch is fresh with some of the new architecture I wanted to bring up the topic of moving the provider implementations to independent repositories. I noticed that there are some empty repos within thephpleague organization. Were those created with this purpose in mind?
- [x] [oauth1-twitter](https://github.com/thephpleague/oauth1-twitter) maintained by @bencorlett

[2015-12-02 15:57] stevenmaguire commented on #39
@nicktacular Please help us understand a bit more about this issue by providing more information.

- Who is the service provider you are attempting to authorize? Did you build it? Does it provide documentation?
- What is the nature of the nested parameters?
- What action are you trying to take?

[2015-12-02 16:35] nicktacular commented on #39
@stevenmaguire I responded with a few more details in #42 but I can provide more detail here.

 * The specific API I'm working with is https://oauth-api.beatport.com/ - I did not build this but I do work for Beatport as a software engineer.
 * The nature of the nested parameters is to pass an array-like structure to provide the necessary request parameters to the backend.
 * I'm trying to make any

[2015-12-02 16:58] stevenmaguire commented on #39
Awesome, Thanks for providing this!

Can you add a bit more clarity to these responses?

Are these parameters being used to create entities? to filter a query of existing entities?

Can you provide a specific example of a request query string that is causing some problems?

I do think the two points you've made are valid, I am trying to discern if the scope of the use case you are experiencing. Se

[2015-12-02 22:34] bencorlett commented on #43
Haha, those would be the only ones I’m interested in too. Yep, those repos were created to start adding those providers.

I think outside of those three, the others were community contributed :)

[2015-12-03 02:19] stevenmaguire commented on #43
Well, I am in favor of two things. 1) We can split the four (trello, tumblr, twitter, and bitbucket) evenly and maintain under the league's banner 2) Delete the other empty repos and publish a new issue asking for maintains to take over.

If that sounds reasonable, I will amend my list of preferred providers to be trello and bitbucket :)

[2015-12-03 02:26] bencorlett commented on #43
Sounds a plan!

[2015-12-03 02:31] stevenmaguire commented on #43
Awesome! I assume you have rights to manage permissions on those projects. Could you add me as admin to oauth1-trello and oauth1-bitbucket? I will create issues for the remaining projects after I've got a boilerplate to "share".

[2015-12-03 02:37] bencorlett commented on #43
Awesome! Doing that now :)

[2015-12-08 22:48] stevenmaguire commented on #43
The `oauth1-trello` and `oauth1-bitbucket` packages are published and awaiting official release and/or further updates to this package. Once #50 is merged they will be fully functional as well.

If you are interested in picking up one of the incomplete packages listed in this issue, or another third-party, feel free to clone the trello or bitbucket repos for a boilerplate to get started.

[2015-12-14 00:38] curtisblackwell opened #56 "Add API methods to delete stuff"
Like files in storage.

[2015-12-14 00:51] curtisblackwell opened #57 "Updater failed b/c of 500 error from b4 to b5"
Jason guessed this may have been due to a network disconnection since the failure gif didn't load. I can't 100% rule that out, but nothing else I was doing was interrupted during updating, and I tried twice.

[2015-12-14 00:53] curtisblackwell commented on #57
It would be nice to have a link to the download page in the event of a failed one-click update.

[2015-12-14 00:53] curtisblackwell commented on #57
bah, sorry… wasn't paying attention and put this in the wrong repo.

[2015-12-14 00:53] #57 closed

[2015-12-14 00:53] curtisblackwell commented on #56
bah, sorry… wasn't paying attention and put this in the wrong repo.

[2015-12-14 00:53] #56 closed

[2016-01-20 19:12] isleshocky77 opened #58 "Clean way for forcing oauth_verifier to be in Auth header"
I'm using thephpleague/oauth1-client with an OAuth1 server which will only work if the `oauth_verifier` is present in the header instead of as a body parameter which is how it currently is implemented.

In order to get around this limitation and have this client work I implemented the following method in my Server file.

[code]

I'm not enthused about this solution and was looking to see if there

[2016-01-20 19:45] stevenmaguire commented on #58
I ran into this issue as well and I've submitted a PR that addresses, but it is not "clean" and I am on the fence about the actual solution.

https://github.com/thephpleague/oauth1-client/pull/50

[2016-01-20 20:26] isleshocky77 commented on #58
@stevenmaguire I'm glad I'm not crazy and that other people have run into this issue. We can close this issue if that PR solves the problem. I can take a look at a later time.

[2016-02-09 16:48] jtsternberg commented on #39
Same issue here when passing a multidimensional array as the `$body` argument to Guzzle\Http\Client::createRequest().

[2016-02-09 18:59] nicktacular commented on #39
@stevenmaguire - I've not had time to work on this. I will get to this sometime later this month. Thanks.

[2016-02-24 12:52] DraperStudio opened #62 "Custom Server Class"
I need to have a custom `Server` class because I need to overwrite the `getTokenCredentials` permanently for everything that would extend my `Server`.

Now the issue is that I need to extend the existing `League\OAuth1\Client\Server\Server` which has tons of abstract methods that need to be implemented which results in the following `Server` class for me.

[code]

So what would be your advice on h

[2016-02-24 16:27] stevenmaguire commented on #62
You will need to implement each of those methods for this class to function properly. Otherwise, you will need to find one of the existing provider specific implementations to use as your base class then override the single method you are interested in at this time.

[2016-02-24 16:37] DraperStudio commented on #62
Well the thing is I need to override the `getTokenCredentials `-method completely and my `Server` class should replace the `League\OAuth1\Client\Server\Server`.

My Providers would then extend `MyNamespace\OAuth1\Server` instead of `League\OAuth1\Client\Server\Server`.

So how do I replace the League Server with my own Server class?

[2016-02-24 16:57] stevenmaguire commented on #62
Can you describe your use case here a bit more? How many provider specific implementations are you planning to build? Do they share some logic and behavior? If so, what?

[2016-02-24 17:03] DraperStudio commented on #62
This would be used for all the OAuth1 Providers at https://github.com/SocialiteProviders. All OAuth1 Providers look pretty much like this.

**Twitter/Provider.php**
[code]

-----

I need the custom Server class because I need to grab the response received after requesting the access token.

[2016-03-19 04:30] atrauzzi opened #63 "Make `oauth_callback_confirmed` optional"
I'm working with an API ([goodreads](https://www.goodreads.com/topic/show/18053328-please-implement-oauth-callback-confirmed)) that doesn't appear to be honouring it.

The check can be found here: https://github.com/thephpleague/oauth1-client/blob/4d4edd9b6014f882e319231a9b3351e3a1dfdc81/src/Client/Server/Server.php#L432

(Also worth noting is that the exception message being shown here could be a

[2016-03-19 19:33] stevenmaguire commented on #63
Thanks for the issue and the feedback! Two things:

If the good reads API is doing something a bit different, consider building or updating an existing provider to handle its use case. The core project is intended to cover the spec's implementation.

If you think the messaging could better for an error here, consider submitting a pull request to update. Prose updates are easy to update without fea

[2016-03-19 22:19] atrauzzi commented on #63
I'm working against `develop` in anticipation of the rewrite.  I require the newer guzzle support.

[2016-03-19 22:24] atrauzzi commented on #63
Anyway, I think there's still an issue with passing the response you get from any API to `createFromResponse` as that would require me to subclass `TeporaryCredentials` just to dodge the hard-requirement of `oauth_callback_confirmed`.

The only alternative to subclassing would be to somehow fake the presence of that value just to fake out the check.

[2016-03-19 22:59] atrauzzi commented on #63
@stevenmaguire

Sorry for the spam.  I took the time based on your suggestion to produce a provider/server implementation for goodreads.  The two quirks they have are:

 - `oauth_callback_confirmed` is never used
 - `oauth_verifier` is a bit of a flying dutchman

Gotta love oauth1 signatures...

[code]

Although of course subclassing works (thank goodness!) -- there's probably a worthwhile discuss

[2016-03-22 18:22] JaffParker opened #64 "Tumblr does not accept oauth_signature when trying to get access token"
Signature of the request passes fine when I'm getting the OAuth token, but it fails when I try to get the access token. The error that I get from Tumblr is this:

I tried to Google the error, but the only reasons I found were typos. I verified that I didn't make a mistake, but the error is still there. I appreciate your help!

[2016-03-22 22:00] bencorlett commented on #64
Heya, are you able to clarify what you're doing with a code sample?

[2016-03-22 22:04] bencorlett commented on #63
Heya, so I agree with Steven here - the main aim when I originally wrote this package was to be the first fully-compliant package out there, and I don't want to deviate from that focus.

However, I'm also open to the suggestion of refactoring the `Server` class to maybe inject a "transport" object (or something of the like) in order to simplify boilerplate.

What are the others' views on this?

[2016-03-22 22:07] bencorlett commented on #62
Hi @DraperStudio, I am trying to understand the issue here.

As I understand it, your problem is that you have a bunch of empty methods in your implementations?

If so, there's really not much we can do about that in v1 as this would seriously break BC. In V2 this has been refactored and it might just be worth waiting out for this.

[2016-03-22 22:09] bencorlett commented on #62
As far as replacing the League's server class, I'm not sure if I'm missing what you're asking here as well. I don't believe anything else would be required other than you extending that class in your own custom implementation (for the `getTokenCredentials()` method you described).

Going to close off the issue now, feel free to reopen if you need further clarification or I've missed what you're as

[2016-03-22 22:09] #62 closed

[2016-03-22 22:10] #58 closed

[2016-03-22 22:11] JaffParker commented on #64
Sure. To clarify: I'm using Laravel Socialite, which uses League's OAuth1 Client, so here's the code:

[code]

Then `getToken()` looks like this:

[code]

And `$this->server` is an instance of `League\OAuth1\Client\Server\Tumblr` class.

[2016-03-22 22:11] bencorlett commented on #39
Hi guys, any updates on this?

[2016-03-22 22:13] bencorlett commented on #64
Are the values of:

[code]

All correct?

Obviously it's not easy to know if they're "correct", but do they look suspicious or are any empty?

[2016-03-22 22:15] #34 closed

[2016-03-22 22:16] bencorlett commented on #39
Ignore previous comment ;)

[2016-03-22 22:54] JaffParker commented on #64
You sir, are a genius. `oauth.temp` did not have the secret, it was removed at some step. Pretty stupid error, but thank you for guiding me :)

[2016-03-22 22:54] #64 closed

[2016-03-22 22:55] bencorlett commented on #64
You’re most welcome :)

[2016-03-23 12:38] atrauzzi commented on #63
The more I think about this, the more I realise there could be any number of whacked oauth implementations out there.  Things are probably fine the way they are.

[2016-03-23 20:34] bencorlett commented on #63
Yeah that's the tricky thing!

If Steven is okay, I'm happy to close this off then

[2016-03-23 20:36] stevenmaguire commented on #63
Close away.

[2016-03-23 22:58] #63 closed

[2016-03-31 09:03] shehi opened #65 "[Deps] Move from deprecated "guzzle/guzzle" to "guzzlehttp/guzzle""
Please consider to move from deprecated package "guzzle/guzzle" to "guzzlehttp/guzzle". It adds unnecessary new package to our apps and sometimes creates confusion during development.

Thanks.

[2016-03-31 09:05] shehi commented on #65
Closing in favor of #35

[2016-03-31 09:05] #65 closed

[2016-07-05 12:18] #39 closed

[2016-07-05 12:18] #27 closed

[2016-08-04 14:17] j3j5 opened #72 "The package is using the deprecated guzzle/guzzle instead of guzzlehttp/guzzle"
This package requires on composer.json `guzzle/guzzle` on its version 3 which is deprecated in favor of `guzzlehttp/guzzle`.

The latest maintained version is `guzzlehttp/guzzle` 5.x, which has a new namespace. I can create a PR if you are fine with it.

[2016-08-06 18:53] Jacco-V opened #76 "New Tag would be nice"
Hi,

Since the last Tag (1.6.1) is from 23 Oct 2015, it would be really nice if you guys could Tag a new version, so that the various fixes and improvements would be available to the wider audience.

[2016-08-17 00:52] bencorlett commented on #72
Hey @j3j5, I just saw your comment on #71, good to know somebody else is running that code without issue as well :)

I'm going to close this off now.

[2016-08-17 00:52] #72 closed

[2016-08-17 01:01] bencorlett commented on #76
Hey @Jacco-V, this is extremely good feedback actually. I am ashamed it's been that long!

We have tagged `1.6.1` with all bug fixes up until now, and `1.7.0` which moves away from the depreciated `guzzle/guzzle` package and are supporting the latest version :)

See #71 and #75

[2016-08-17 01:01] #76 closed

[2016-09-10 01:46] stevenmaguire commented on #43
I will take the remaining four providers (oauth1-xing, oauth1-uservoice, oauth1-tumblr, oauth1-magento) on once we get the develop branch somewhat stable and building successfully in CI.

[2016-10-29 14:23] Zabanya commented on #43
can i help with magento?

[2016-10-29 15:41] stevenmaguire commented on #43
Yes, please.

[2017-03-16 08:46] disiri opened #82 "Question : Hey, is the magento already working?"
I can see magento file in the src, is it working?

[2017-03-28 14:19] AidasK opened #83 "Package does not work together with php-graph-sdk"
https://github.com/facebook/php-graph-sdk/blob/5.4/composer.json#L20

I can't use laravel socialite and this package together. Facebook requires guzzle ~5.0 only.

[2017-04-25 18:00] samjhill opened #84 "OAuth_token is not equal to temporary_credentials->getIdentifier(), causing MITM warning"
https://github.com/thephpleague/oauth1-client/blob/master/src/Client/Server/Server.php#L150

I extended Server for a different provider (SocialFlow.php file below), and after the auth redirect, I am given an OAuth_token, which I store in $_SESSION.

I also serialize and store the temporary_credentials the same way.

Then, I initialize the extended Server again, with the signature, for a custom GET

[2017-06-08 09:41] TimOgilvy opened #85 "No accept header"
The default server headers assume the API will provide either JSON or XML but never explicitly require it.   This means that switching the accept type with an API like intuit which currently always returns XML for user info, creates an error.

**Server.php on line `355`**

[code]
**I'm Recommending:**

[code]

Not sure if I am being pedantic but I figure an application probably shouldn't assume an

[2017-06-08 09:55] TimOgilvy commented on #85
Wait should I have made that PR on dev?  Sorry.

[2017-06-14 01:56] TimOgilvy commented on #85
Closing as per conversation on the pull request.

[2017-06-14 01:56] #85 closed

[2017-07-10 14:20] mrjoops opened #88 "What about using guzzlehttp/oauth-subscriber ?"
Hi,

I'm starting to contribute to your project, writing a JIRA provider; so I was looking at the code when I noticed a few things.
You are using Guzzle as the HTTP client but you don't use its Oauth1 subscriber implementation, is there a particular reason for that ?
I think it would be interesting to use it since it take care of all the headers and signatures stuff, and it will dramatically reduc

[2017-07-10 22:18] bencorlett commented on #88
Hey,

Okay, so the reason we didn’t use that is, at least at the time of writing this, it didn’t support the final OAuth 1.0 protocol, it might have been the earlier 1.0 or 1.0a protocol (yes, there’s two identical protocol names for different OAuth 1 protocols). Anyway, we’re using the latest one, referenced in the project README.

Having said that, I’ve read through their code and it appears lik

[2017-07-10 22:23] stevenmaguire commented on #88
I am a fan. Especially if it will help to get this project up to the next major version and more in line with the look and feel of the oauth2-client.

[2017-07-10 22:24] stevenmaguire commented on #88
A ton of work went into https://github.com/thephpleague/oauth1-client/pull/35 to get this project moving.

[2017-07-13 07:19] mrjoops commented on #88
So, what's next ?

[2017-07-20 11:03] RobinBarnwell opened #90 "Salesforce integration"
Hello

Will this allow me to create an OAuth connection to Salesforce?  I want to send two REST calls from Wordpress:

1.  When a new user is created, REST PUT to create a contact in Salesforce, updating the Wordpress user with the Salesforce ID generated

2. When the user profile is updated, REST PATCH to update the contact in Salesforce using the ID

This would be fantastic, would be happy to do

[2017-07-20 12:53] stevenmaguire commented on #90
Salesforce uses OAuth2. This package is for OAuth1. There is a package for Salesforce OAuth2.

https://github.com/stevenmaguire/oauth2-salesforce

[2017-09-18 19:16] matthewtrask commented on #83
Facebook is Oauth2, not OAuth 1

[2018-05-15 10:27] luciano88 opened #94 "oAuth 1.0 - Passing additional parameters"
How can I pass extra parameters (i.e. my user id) in the oAuth 1.0 process and receive them back? In oAuth 2 I use the "state" variable...

Thanks,
Luciano

[2018-05-17 03:50] #90 closed

[2018-05-17 03:51] bencorlett commented on #94
Hi, I'm not sure what you mean.

Exactly when did you want to pass additional parameters?

[2018-05-28 18:17] KidA78 opened #95 "Twitter Callback URL Question"
According to their most recent announcement, June 12th will deprecate open Callbacks, where a whitelist must be specified.  In [their documentation](https://developer.twitter.com/en/docs/basics/callback_url.html), it specifies the callback param must be `callback_url` however, the PHP Client specifies `callback_uri` as per the example on the README.

Updating this to say `callback_url` results in

[2018-05-28 21:53] bencorlett commented on #95
Not sure. We follow RFC5849 and adhere to the latest OAuth 1.0 protocol. Twitter was always OAuth 1.0a which OAuth 1.0 superseded. This is the reasoning behind using callback_uri.

As far as your specific example, I’m unsure. You could debug the request that’s being performed by Guzzle and maybe fire a more generic question over on Stack Overflow?

Sent from my iPhone

Please excuse my brevity

[2019-10-16 22:41] #43 closed

[2019-11-15 19:09] henneckes opened #98 "Invalid auth/bad request Etsy"
Anyone else getting this?

Invalid auth/bad request (got a 401, expected HTTP/1.1 20X or a redirect)

Notice:  Undefined variable: acc_token in /home/user****/**nd/test.php on line 30

[2019-12-23 07:27] xiatian opened #99 "Don't support proxy?"
It is necessary to support proxy access。

[2019-12-23 08:44] bencorlett commented on #99
Could you elaborate?

[2020-04-06 15:33] alvirbismonte opened #100 "Twitter could not authenticate temporary credentials"
I've used the twitter example in the repo and getting this error. The error also comes from this [line](https://github.com/thephpleague/oauth1-client/blob/master/resources/examples/twitter.php#L43).

I am able to get temporary credentials and able to get oauth token, but when I do use the returned token to fetch user details, I'm unable to fetch it thus the error.

[code]
I read an issue like this

[2020-04-07 17:15] alvirbismonte commented on #100
It turns out that I did not followed the [3-legged Oauth](https://developer.twitter.com/en/docs/basics/authentication/oauth-1-0a/obtaining-user-access-tokens) by twitter which is also indicated in the [sample](https://github.com/thephpleague/oauth1-client/blob/master/resources/examples/twitter.php) from the library.

[2020-04-07 17:15] #100 closed

[2020-04-19 16:37] dougblackjr commented on #84
Having the same issue, would appreciate some help!

[2020-08-02 17:55] IftekherSunny opened #103 "Class 'Symfony\Component\EventDispatcher\Event' not found"
Hey,

Event class not found when I'm using oauth1-client with my laravel project.

- laravel version: 7.*
- Symfony event dispatcher: 5.*

I was trying to install 4.* version of event dispatcher. But it created conflict with laravel project.

So do oauth1-client only works with event dispatcher 5?

[2020-08-06 08:54] kasparasg commented on #103
I've seen this issue as well the other day. Happy to make a contribution if someone gave pointers on how to go about this 🤔

[2020-08-06 18:23] kasparasg commented on #103
Looks like this change fixes the problem https://github.com/thephpleague/oauth1-client/pull/101

[2020-08-24 08:37] atiehmokhtari opened #105 "Problem with league/oauth1-client version 1.6.2 upgrading to 1.7"
it seems that there is something wrong with upgrading guzzlehttp and the socialite required package league/oauth1-client.
I just tried to upgrade my laravel to laravel 7.0 and also my socialite to 4.4 and guzzlehttp/guzzle package to 7.0 the latest but the package of league/oath1-client downgrades from 1.7 to 1.6.2 which uses guzzle/guzzle instead of guzzlehttp/guzzle. so I am facing the deprecate

[2020-08-24 15:14] casperwilkes commented on #105
I'm dealing with the same issue trying to integrate Twitter login functionality through Socialite. Took me a minute, but I tracked the issue down to the same issue, the oauth1-client uses guzzle which is causing composer 2 to go crazy, but is also causing another issue for me which is the same as #103

[2020-08-24 16:06] hareku opened #106 "Guzzle HTTP Client configuration"
I really want to pass the configuration to Guzzle HTTP Client for setting timeout, and I have a proposal for that.

Add `$clientOptions` to the constructor of  `/src/Client/Server/Server.php`

[code]

[2020-08-28 23:50] bencorlett commented on #105
This should be fixed in the latest development branch (and the incoming version). I'll close this issue off once testing and the release is complete :)

[2020-08-28 23:51] #99 closed

[2020-08-28 23:51] #95 closed

[2020-08-28 23:52] #82 closed

[2020-08-28 23:52] #83 closed

[2020-08-28 23:55] bencorlett commented on #106
I see what you're saying. I'm almost leaning to adding something like:

[code]

This would keep the signature the same as currently. Note: In the next major version, the client will be resolved externally to each server instance.

[2020-09-02 23:17] #94 closed

[2020-09-02 23:20] bencorlett commented on #88
So the Guzzle OAuth subscriber works well if you have token credentials. Having said that, it's not entirely OAuth spec compliant (although it works for most use cases). I've addressed its shortcomings in the description of #111.

Having said that, I have a decision to make - whether we add our own Guzzle OAuth subscriber for authenticated requests or we stay agnostic and just recommend the use of

[2020-09-02 23:20] #88 closed

[2020-09-02 23:21] bencorlett commented on #103
This should be resolved in 1.8.0 :)

[2020-09-02 23:21] #103 closed

[2020-09-02 23:21] bencorlett commented on #105
This should be fixed in 1.8.0 - please reopen if there's still an issue :)

[2020-09-02 23:21] #105 closed

[2020-09-02 23:23] bencorlett commented on #84
We're working on a new version right now - were there any updates to this by chance? I might try and reproduce it.

[2020-09-03 10:34] WimWidgets opened #116 "Composer deprecation notices"
When installing, I get the following deprecation notices from Composer. Please update these files so that the file name matches the class name.
[code]

[2020-09-03 10:36] davemcnair opened #117 "Composer psr-4 autoloading"
Heads up that v1.8 has deprecation notices on composer update.

tests/stubs/ServerStub

[2020-09-03 10:48] davemcnair commented on #117
Duplicate of #116

[2020-09-03 10:48] #117 closed

[2020-09-04 08:15] tobytwigger opened #118 "Breaking change for v1.8.0"
Hi all! I'm not sure what's considered the public API of this package, but the most recent update has broken the ```socialiteproviders/providers``` package which allows social logins in Laravel. It'll also have broken any custom OAuth providers which extend the ```League\OAuth1\Client\Server\Server``` class, due to the typehinting of the methods.

In this particular case, it's made more problemati

[2020-09-04 08:38] bencorlett commented on #118
Interesting. The public api always indicated Via docblocks that an instance of OAuth1\Client\User should be returned so to not follow that would be mutually exclusive to expecting no breakages.

Having said that, I think if we are type declaring on other methods and that’s breaking inheritance, I will revert this change for now and it’ll just come with the new version (see PRs).

Thanks for the re

[2020-09-04 08:49] tobytwigger commented on #118
Thank you! I think the reasoning was that the user model is used for OAuth2 too. Either way, a major version change will give time to fix this before upgrading - thanks! :)

[2020-09-04 10:26] bencorlett commented on #118
@tobytwigger would you be able to help test this for me? If so, could you add:

[code]

To your `composer.json` and run `composer update`?

[2020-09-04 10:29] bencorlett commented on #118
[Here's a comparison](https://github.com/thephpleague/oauth1-client/compare/1.7.0...fix/revert-public-api) between 1.7 and the fix branch. I think it all looks good, it's passing unit tests, linting and static analysis. A real world test would be great though and I will push out 1.8.1 with this.

[2020-09-04 10:34] tobytwigger commented on #118
@bencorlett Just tested with Laravel and socialite, all working perfectly!

[2020-09-04 10:35] bencorlett commented on #118
Great! Thank you. This was a big oversight on my part and I really wanted to resolve this quickly. I've done some more testing on my end and I'm pretty comfortable it's looking good.

I'll be pushing v1.8.1 shortly with this in it :)

[2020-09-04 10:38] tobytwigger commented on #118
Thanks a lot!

[2020-09-04 10:45] #118 closed

[2020-09-04 10:50] #116 closed

[2020-09-04 10:51] bencorlett commented on #118
You're welcome. Thanks for pointing the issue out and helping resolve it :)

I'm just waiting on builds to pass then I'll tag up v1.8.1.

[2020-09-06 14:08] shehi commented on #118
That's why it shouldn't have been 1.8 release but 2.0 release, to avoid BC implications :facepalm:

[2020-09-06 21:38] bencorlett commented on #118
🤦‍♂️🤣👍👍

v2.0 (develop) is a rewrite. It took about 25 minutes to add php 7.1+ Language features to v1.8 and less to revert it, so I’m not too worried.

I am not interested in releasing 2.0, then 3.0 a few days later, I think this would not be worth the overhead.

[2020-09-06 21:43] bencorlett commented on #118
@shehi i should add - do let me know your thoughts on v2 - I’d appreciate that.

I will be documenting it shortly and polishing it up!

[2020-09-26 04:20] wgnann opened #123 "baseString composition fails when port is specified in URI"
https://github.com/thephpleague/oauth1-client/blob/3a68155c3f27a91f4b66a2dc03996cd6f3281c9f/src/Signature/EncodesUrl.php#L37

Since `$url->getHost()` returns only the IP/DNS, a path like `https://example.org:8080/oauth` is signed as `https://example.org/oauth`, voiding the hash.

Thank you!

[2020-09-28 09:29] bencorlett commented on #123
I have opened a PR to fix this in V1! I'm fairly sure the (unreleased) V2 does not suffer from this but I will also add a test to confirm.

[2020-09-28 09:36] bencorlett commented on #123
Yep, v2 is not affected. I've added tests to prove the functionality works.

Thank you very much for the bug report!

[2020-09-28 09:38] #123 closed

[2020-12-01 09:39] mattkingshott opened #127 "[PHP 8] Warning on EncodesUrl"
The following PHP warning is generated under PHP 8:

[code]

Seems to be caused by the second parameter being passed as a reference. Removing the '&' symbol from value seems to work for me, but I don't know if there are greater implications outside of my particular use case.

[2020-12-06 14:29] mattkingshott commented on #127
Submitted PR #128 to fix this.

[2020-12-07 02:37] bencorlett commented on #127
Thanks Matt! I’ll take a look 👍

[2020-12-12 20:10] smares commented on #127
Submitted https://github.com/thephpleague/oauth1-client/pull/129 to not only get rid of the exception, but actually make the code do what it was supposed to do - that is, normalize keys and values. First time doing a pull request, so I hope I didn't do any mistakes. 😅

[2020-12-12 20:45] mattkingshott commented on #127
Great. Thanks!

[2020-12-12 20:47] mattkingshott commented on #127
@bencorlett would you mind taking a look? Thanks!

[2020-12-12 20:59] patrickkusebauch opened #130 "Options for authorization URL"
In the same vein as the [OAuth2 client](https://github.com/thephpleague/oauth2-client/blob/419d163a02654305773e07731dc26ce7528a574f/src/Provider/AbstractProvider.php#L386) the OAuth1 client should allow for additional options when constructing the Authorization Url. As per [OAuth 1 RFC 5849](https://tools.ietf.org/html/rfc5849#page-11):

A second parameter for `$options` that would merge with the

[2020-12-12 22:45] bencorlett commented on #130
This functionality exists within V2 which I’m working through documenting in my spare time :)

I’m not planning on adding any new functionality to the existing version except security patches at this stage :)

Sent from my iPhone

[2020-12-12 23:05] patrickkusebauch commented on #130
@bencorlett The latest released stable version is v1.8.2, and in that version, it is not present. Hence from a consumer's standpoint, it does not exist. What is necessary for v2 to be released?

[2020-12-12 23:29] bencorlett commented on #130
Once I have finished up documenting V2, it’ll be released :) see the gh-pages branch.

Just finding the spare time to invest in this.

I welcome a PR if you want to add this to v1.

Sent from my iPhone

[2020-12-16 07:41] #127 closed

[2020-12-16 07:42] #130 closed

[2020-12-22 00:16] smares commented on #127
Any idea when a new release is going to be issued? Laravel Socialite is using this library and currently the Twitter Login is broken on PHP 8 because of this bug. :(

[2020-12-22 14:30] dimitri-koenig commented on #127
@bencorlett: Could you please create a new version since this bug is in the current released version 1.8.2 which is not usable due to this bug. That would be great.

[2020-12-22 17:53] bencorlett commented on #127
I anticipate that I’ll have 1.9.0 out within a day or two. Thank you for your patience.

[2020-12-22 18:35] dimitri-koenig commented on #127
Sounds great, thx a lot

[2020-12-27 10:51] mattkingshott commented on #127
@bencorlett any update on getting 1.9.0 out the door? Sorry to be a nuisance. Thanks!

[2020-12-27 23:11] bencorlett commented on #127
I am away for the Christmas holidays. Will be early in the new year. Thanks

Sent from my iPhone

[2021-01-07 09:07] mattkingshott commented on #127
@bencorlett really sorry to be a nuisance buddy, but is there any chance of 1.9.0 getting tagged this week as I'm hoping to push a major new app version next week that uses this library with PHP 8?

[2021-01-09 10:44] smares commented on #127
Because of issues like this in the past, we ended up creating a GitHub organization account where we fork all repositories we use in our projects. You can then decide whether to always use the own fork or only use the fork when a fix is taking too long in upstream.

[2021-01-14 00:24] bencorlett commented on #127
@mattkingshott thanks for your interest, and patience in the project mate :) I haven't been committing too much time to OSS over the past couple of weeks but rather spending quality time away from the computer with my family.

There's a few moving parts to getting the next release out. Firstly, we need to get [this PR](https://github.com/thephpleague/oauth1-client/pull/132) to build so that we can

[2021-01-14 08:25] mattkingshott commented on #127
@bencorlett no worries mate. I've made a fork for now.

Enjoy time off with the family :)

[2021-01-19 10:40] keradus commented on #127
you can use PHP CS Fixer 2.18+ for PHP 8

[2021-01-20 01:43] bencorlett commented on #127
Wonderful! I saw they released this a couple of days back. I've got a workaround in place and I have published v1.9.0, but I'll look to upgrade this at some point.

[2021-03-04 20:16] marcorocca opened #134 "Avoid "functions" from dependencies"
Guzzle has deprecated the use of functions provided by their dependencies (as you can see [here](https://github.com/guzzle/guzzle/pull/2712)) in their latest versions.
I think it might make sense to upgrade the use of them in `oauth1-client` too, for example in `EncodesUrl.php`:
[code]
Becomes:
[code]
This will make the library future proof of any deprecation (and eventually give us the ability to

[2021-05-01 20:21] shoutershub commented on #58
Holy molly, u just saved me 2days of research, i almost lost it.

[2021-07-05 09:15] smares commented on #134
The library is now broken with the release of guzzlehttp/psr7 2.0 which itself is a dependency of guzzlehttp/guzzle 1.7.

[2021-07-05 09:26] bencorlett commented on #134
I will prioritise fixing this. I might as well release 2.0 as well, I’ve been using it for months now :)

[2021-07-05 09:46] bencorlett commented on #134
I have created #135 to address this. @smares did you want to cast your eye over this?

[2021-07-07 22:54] #134 closed

[2021-07-29 15:06] alegag opened #137 "Trello "An unknown application""
Calling the class with parameter `name` don't seems to apply it to Trello.

[code]

The value of `APP_NAME` get passed in the URL, but the result on the Trello auth-page is "An unknown application" instead of the expected value.

[2021-07-29 15:13] alegag commented on #137
Turns out the length should be at least 5-chars (no documented on Trello side either, discovered by trial-and-error).

Should the Trello class throw an exception if name length is <=4 chars ?  What do you think ? (I can do an MR for it if the proposition makes sense)

[2021-08-03 23:26] bencorlett commented on #137
I'm not sure if this should be this package's responsibility to validate that, especially if it's not documented. However, if you would like to consider it, please

Also please note that Trello is not included as an [out of the box provider in V2](https://github.com/thephpleague/oauth1-client/tree/develop/src/Provider), however integrating custom providers is easy there.

Thanks!

[2021-08-11 14:47] Diegslapasteque opened #139 "Last release is broken"
Hey,
I made a [pull request last week about Twitter](https://github.com/thephpleague/oauth1-client/pull/138), but I don't test it because I thought the Twitter docs were clear enough.
Sadly, it was not.
So now, when we make an oauth connection with Twitter, we get this :
[code]

This error is documented here : https://developer.twitter.com/en/support/twitter-api/error-troubleshooting (search for "

[2021-08-12 04:00] bitmandev commented on #139
I got same problem. After a few hour debugging and searching in commit history, the problem come from file commit on server at temporaryCredentialsProtocolHeader. It was commit from 10 days ago

https://github.com/thephpleague/oauth1-client/commit/8bf4d9ab61fedf45ccbad975e4cf8391b58b6128#diff-fb33b1b907a4b627dbcc1965898b866ab2be2ac4d4bb611bd47caf39137b5d08

and here is the code:

[code]
i think it

[2021-08-12 04:45] bencorlett commented on #139
Thank you for the report. I’ll look to revert this as soon as possible.

I might hold off introducing this until V2 which is basically ready. It facilitates testing in a way that V1 just simply doesn’t support.

Sent from my iPhone

[2021-08-15 23:03] #139 closed

[2021-08-31 13:20] jmalinens opened #142 "SignatureInterface is not correctly imported after recent Twitter server changes"
https://github.com/thephpleague/oauth1-client/commit/0a423aa9a3c7d1c7a8f3befd38acfff2ad972803#diff-23c1737a2e9df0d80059154c9a7878c3d6e59fd5bb93ad1966c2f01293a5398cR19

SignatureInterface is located in another directory and it should be imported like:

[code]

[2021-12-31 14:24] zerosonesfun commented on #84
I am having a similar issue.

[code]

I'm not a professional developer. Does this mean the tokens aren't matching?

This only happens in iOS/Safari. Login works fine in Chrome.

[2022-02-07 13:57] rounak610 opened #145 "Invalid oauth_verifier parameter"
is someone getting this error?

[2022-03-01 23:05] bencorlett commented on #84
@zerosonesfun your stack trace shows that you're passing `false` as the first argument to `getTokenCredentials`:

[code]

You'll need a developer to debug this further by stepping through your application's code.

[2022-03-14 07:31] Stajor opened #146 "PHP 8.1 support"
Sorry wrong repo

[2022-03-14 07:41] #146 closed

[2022-09-28 19:31] pushparajbhatta commented on #100
I had been getting the same error at the redirection controller while using oauth 1

`Received HTTP status code [401] with message "{"errors":[{"code":32,"message":"Could not authenticate you."}]}" when getting temporary credentials.`

I found out that I had been using oauth 2 client id and client secret on my configuration. Please make sure you are using the credentials (API Key and Secret) from